// conf/base.config — configurações base para todos os perfis
process {
    cpus   = { check_max(1    * task.attempt, 'cpus') }
    memory = { check_max(6.GB * task.attempt, 'memory') }
    time   = { check_max(4.h  * task.attempt, 'time') }

    errorStrategy = { task.exitStatus in [104, 134, 137, 139, 143] ? 'retry' : 'finish' }
    maxRetries    = 2
}
